<div class="container content">
  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <div class="modal-header " style="background-color:silver; margin: -16px -16px 10px -16px;">
      <h3 class="modal-title">Quên mật khẩu</h3>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Email" name="email" #email="ngModel" ngModel class="form-control" required
        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
      <div class="validation-error" *ngIf="email.invalid && email.touched">Xin nhập Email.</div>
    </div>
    <div class="form-group">
      <mat-form-field >
        <mat-label>Xin chọn loại tài khoản</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="sel"  required>
          <mat-option *ngFor="let sel of types" [value]="sel.value">
            {{sel.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="login">
      <button type="submit" class="btn btn-lg btn-success btn-block" [disabled]="form.invalid">Khôi phục mật khẩu</button>
    </div>
    <br>
    <div class="click">
      <a class="register" routerLink="/sign-up">Đăng ký</a>
      &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
      <a class="login" routerLink="/sign-in">Đăng nhập</a>
    </div>
    <br>
  </form>
</div>
