<div class="container-fluid">
  <!-- <form [formGroup]="addCourseForm" (ngSubmit)="onFormSubmit(addCourseForm.value)"> -->
  <form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-3">
        <h3><strong>Thông Tin Khóa Học</strong></h3>
        <span class="title">Thông tin chi tiết khóa học</span>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label><b>Tên khóa học</b></label>
          <input type="text" class="form-control" placeholder="Khóa học" formControlName="title" required>
          <!-- <div class="validation-error" *ngIf="title.invalid && title.touched">title is required. </div> -->
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <label><b>Kỹ năng</b></label>
            <select type="number" formControlName="idskill" class="form-control">
              <option *ngFor="let skill of courseService.skillList" [value]="skill.idskill">
                {{skill.skillname}}</option>
              <!-- <div class="validation-error" *ngIf="Categoryid.invalid && Categoryid.touched">Category is required.</div> -->
            </select>
          </div>
          <div class="form-group col-6">
            <div class="form-group" [hidden]="show">
              <label><b>Thời gian học</b></label>
              <select type="text" class="form-control" formControlName="time" required>
                <option value="2,4,6" selected="true">Hai, Tư, Sáu</option>
                <option value="3,5,7">Ba, Năm, Bảy</option>
              </select>
            </div>
            <div class="form-group" [hidden]="!show">
              <label><b>Thời lượng dự kiến</b></label>
              <input type="text" class="form-control" formControlName="time" placeholder="Xin nhập thời lượng học dự kiến"
                required>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="option" (click)="change()" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Thời gian khác</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label><b>Mô tả</b></label>
          <textarea type="text" class="form-control" placeholder="Mô tả" formControlName="description"></textarea>
          <!-- <div class="validation-error" *ngIf="description.invalid && description.touched">description is required. </div> -->
        </div>
        <!-- <div class="form-group">
          <img [src]="imageUrl" style="height: 200px;width: 300px;">
          <label for="exampleFormControlFile1"><b>Course's Image</b></label>
          <input type="file" formControlName="image_course"   (change)="onFileChange($event, 'image_course')"  >
        </div> -->

        <!--<div class="form-group">
          <input type="file" id="image_course" (change)="onSelectedFile($event)">
        </div>
        <div *ngIf="imagePath">
          <br />
          <img [src]="imagePath" width="100px">
        </div>-->

      <!-- <div class="form-group">
          <img [src]="imageUrl" style="height: 200px;width: 300px;">
          <input #fileInput type="file" (change)="uploadFile(this)">
        </div> -->

      <div class="form-group">
        <label><b>Thành phố</b></label>
        <!-- <input type="text" class="form-control" formControlName="city" required> -->
        <select type="text" class="form-control" formControlName="city" required>
          <option selected="true">Hồ Chí Minh</option>
          <option>Hà Nội</option>
          <option>Tỉnh khác</option>
        </select>
      </div>
      <div class="form-group ">
        <label><b>Địa chỉ</b></label>
        <textarea type="text" rows="4" placeholder="Địa chỉ" formControlName="address" class="form-control"
          required></textarea>
        <!-- <div class="validation-error" *ngIf="address.invalid && address.touched">Address is required.</div> -->
      </div>

      <!--<input type="hidden" class="form-control" formControlName="status">-->
      <input type="hidden" class="form-control" formControlName="trainee_course">



    </div>
    <div class="col-3">
      <!-- <div class="form-group ">
          <div>
            <label><b>Receive Notification</b></label>
          </div>
          <label class="switch">
            <input type="checkbox" formControlName="isnotification">
            <span class="slider round"></span>
          </label>
        </div> -->
    </div>
</div>
<div class="form-row">
  <div class="col-3">
  </div>
  <div class="col-6">
    <div class="form-row">
      <div class="form-group col-6">
        <button style="height: 50px" [routerLink]="['/courses']" class="btn btn-lg btn-warning btn-block"
          keyup.esc="onCancel()">Hủy</button>
      </div>
      <div class="form-group col-6">
        <button type="submit" [disabled]="!addCourseForm.valid" style="height: 50px"
          class="btn btn-lg btn-success btn-block" keyup.enter="onSubmit(form)">Đăng khóa học</button>
      </div>
    </div>
  </div>
</div>
<div class="col-3">
</div>
</form>
</div>
