<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h3><strong>Thông tin chi tiết </strong></h3>
      <span class="title">Thời gian diễn ra khóa học</span>
    </div>
    <div class="col-md-6">
      <form [formGroup]="editassigned" (ngSubmit)="onFormSubmit(editassigned.value)">
        <input type="hidden" formControlName="mentorid">
        <input type="hidden" formControlName="courseid">

        <div class="form-group">
          <label><b>Ngày bắt đầu</b></label>
          <input type="text" disabled="true" style="width:170px" class="form-control" formControlName="startday" required>
        <br>
          <input type="date" class="form-control" formControlName="startday" required>
        </div>

        <div class="form-group">
          <label><b>Ngày kết thúc</b></label>
          <input type="text" disabled="true" style="width:170px" class="form-control" formControlName="endday" required>
        <br>
          <input type="date" class="form-control" formControlName="endday" required>
        </div>

        <div class="form-group">
          <label><b>Ghi chú</b></label>
          <textarea type="text" class="form-control" formControlName="notes"></textarea>
        </div>
        <div class="form-group">
          <label><b>Địa chỉ</b></label>
          <textarea type="text" class="form-control" formControlName="address"></textarea>
        </div>

        <!--<div class="form-group">
          <label><b>Thời gian</b></label>
          <textarea type="text" class="form-control" formControlName="time"></textarea>
        </div>-->

        <div class="form-group">
          <button type="submit" [disabled]="!editassigned.valid" style="height: 50px"
            class="btn btn-lg btn-success btn-block" keyup.enter="onSubmit(form)">Cập nhật</button>
        </div>
      </form>
    </div>
  </div>
</div>
s
