<div class="container-fluid">
  <form [formGroup]="editcoursesform" (ngSubmit)="onFormSubmit(editcoursesform.value)">
    <div class="row">
      <div class="col-md-3">
        <h1><strong>Chỉnh sửa thông tin khóa học</strong></h1>
        <h3 class="title"> &nbsp;Thông tin khóa học</h3>
        <br>
      </div>
      <div class="col-md-6">
        <div class="form-group">

          <input type="hidden" class="form-control" formControlName="courseid">
          <input type="hidden" class="form-control" formControlName="createddate">
          <input type="hidden" class="form-control" formControlName="trainee_course">
          <label>Tên khóa học</label>
          <input type="text" class="form-control" placeholder="Khóa học" formControlName="title" required>
          <!-- <div class="validation-error" *ngIf="title.invalid && title.touched">title is required. </div> -->
        </div>
        <div class="form-group">
          <label>Mô tả</label>
          <textarea type="text" class="form-control" placeholder="Mô tả" formControlName="description"
            required></textarea>
          <!-- <div class="validation-error" *ngIf="description.invalid && description.touched">description is required. </div> -->
        </div>
        <div class="form-group">
          <label><b>Thành phố</b></label>
          <!-- <input type="text" class="form-control" formControlName="city" required> -->
          <select type="text" class="form-control" formControlName="city" required>
            <option selected="true">Hồ Chí Minh</option>
            <option selected="true">Hà Nội</option>
            <option>Tỉnh khác</option>
          </select>
        </div>
        <div class="form-group ">
          <label>Địa chỉ</label>
          <textarea type="text" rows="4" placeholder="Địa chỉ" formControlName="address" class="form-control"
            required></textarea>
        </div>
        <div class="form-row">
        </div>
      </div>
      <div class="col-md-3">
        <!--<div class="form-group">
          <label><b>Trạng thái</b></label>
          <select type="number" formControlName="status" class="form-control">
            <option [value]="0">Đang chờ</option>
            <option [value]="1">Đã liên hệ</option>
            <option [value]="2">Đang dạy</option>
            <option [value]="3">Đã kết thúc</option>
          </select>
        </div>-->
        <div class="form-group ">
          <label>Kỹ năng</label>
          <select type="number" formControlName="idskill" class="form-control">
            <option *ngFor="let skill of courseService.skillList" [value]="skill.idskill">
              {{skill.skillname}}</option>
          </select>
        </div>
        <div class="form-group" [hidden]="show">
          <label><b>Thời gian học</b></label>
          <select type="text" class="form-control" formControlName="time" required>
            <option value="2,4,6" selected="true">Hai, Tư, Sáu</option>
            <option value="3,5,7">Ba, Năm, Bảy</option>
          </select>
        </div>
        <div class="form-group" [hidden]="!show">
          <label><b>Thời lượng dự kiến</b></label>
          <input type="text" class="form-control" formControlName="time" placeholder="Xin nhập thời lượng học dự kiến"
            required >
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="option" (click)="change()" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Thời gian khác</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-6">
        <div class="form-row">
          <div class="form-group col-6">
            <button style="height: 50px" [routerLink]="['/courses']" class="btn btn-lg btn-warning btn-block"
              keyup.esc="onCancel()">Hủy</button>
          </div>
          <div class="form-group col-6">
            <app-alert></app-alert>
            <button type="submit" style="height: 50px" [disabled]="editcoursesform.invalid "
              class="btn btn-lg btn-success btn-block" keyup.enter="onSubmit(form)">Cập nhật khóa học</button>
          </div>
        </div>
      </div>
      <div class="col-3">
      </div>
    </div>
  </form>
</div>
