<div class="container-12">
  <a class="close">
      <button type="submit" class="btn btn-dark" (click)="onClose()">X</button>
  </a>
  <form [formGroup]="formfroupEdit" (ngSubmit)="onSubmit(formfroupEdit.value)">
      <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Cập nhật tài khoản Học viên</h3>
      </div>
      <div class="form-group">
          <input type="hidden" class="form-control" formControlName="traineeid">
      </div>

      <div class="form-group">
          <label for="">Họ tên học viên: </label>
          <input type="text" class="form-control" placeholder="Họ tên học viên" formControlName="name" required>
          <div class="validation-error" *ngIf="formfroupEdit.get('name').invalid && formfroupEdit.get('name').touched">
            <div *ngIf="formfroupEdit.get('name').errors['required']">Xin nhập tên Học viên</div>
          </div>
      </div>
      <input  type="hidden" formControlName="activationcode">
      <div class="form-group">
          <label for="">Email: </label>
          <input type="text" class="form-control" placeholder="Email" formControlName="email" required>
          <div class="validation-error" *ngIf="formfroupEdit.get('email').invalid && formfroupEdit.get('email').touched">
            <div *ngIf="formfroupEdit.get('email').errors['required']">Xin nhập Email học viên</div>
          </div>
      </div>

      <div class="form-group">
          <label for="">Số điện thoại: </label>
          <input type="text" class="form-control" placeholder="Số điện thoại" formControlName="phone" required>
          <div class="validation-error" *ngIf="formfroupEdit.get('phone').invalid && formfroupEdit.get('phone').touched">
            <div *ngIf="formfroupEdit.get('phone').errors['required']">Xin nhập số điện thoại</div>
          </div>
      </div>

      <div class="form-group">
          <label for="">Địa chỉ: </label>
          <input type="text" class="form-control" placeholder="Địa chỉ" formControlName="address" required>
          <div class="validation-error" *ngIf="formfroupEdit.get('address').invalid && formfroupEdit.get('address').touched">
            <div *ngIf="formfroupEdit.get('address').errors['required']">Xin nhập địa chỉ</div>
          </div>
      </div>

      <div class="form-group">
          <label for="">Mật khẩu: </label>
          <input type="text" class="form-control" placeholder="Mật khẩu" formControlName="password" required>
          <div class="validation-error" *ngIf="formfroupEdit.get('password').invalid && formfroupEdit.get('password').touched">
            <div *ngIf="formfroupEdit.get('password').errors['required']"> Xin nhập mật khẩu</div>
          </div>
      </div>

      <button type="submit" [disabled]="formfroupEdit.invalid" class="btn btn-lg btn-success btn-block">Cập nhật</button>
  </form>
</div>

