<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <h1>Danh sách các khóa học:</h1>
    </div>
    <div class="col-3">
      <div class="form-group">
        <div class="input-group">
          <input [(ngModel)]="searchText" class="form-control input-lg" placeholder="Tìm" />
          <button class="btn btn-info btn-sm" type="button">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>



  <!-- <div class="form-group">
        <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">
      </div> -->
  <div class="row">
    <div class="col-md-4 course-item" *ngFor="let item of course.courseList
        | grdFilter: { title: searchText}
        | paginate: { itemsPerPage: 6, currentPage: p }" value="item.courseid">

      <div class="blog-box">
        <!--<a routerLink="/details/{{item.courseid}}"> <img src="assets/Images/{{item.image_course}}"
            style="width: auto;height: 210px; " alt="blog1" class="img-course" /></a>-->
        <h3 routerLink="/details/{{item.courseid}}"><p>{{item.title}}</p></h3>
        <p>Khóa học về : {{item.description}} <br> Thời lượng khóa học dự kiến : {{item.time}} giờ</p>
      </div>
    </div>
  </div>
  <div class="row">
    <pagination-controls (pageChange)="p = $event" style="margin: auto"></pagination-controls>
  </div>
</div>
