<div class="container content">
  <form #form=ngForm [formGroup]="SignUpForm" (ngSubmit)="onFormSubmit(SignUpForm.value)">
    <div class="modal-header" style="background-color:silver; margin: -16px -16px 10px -16px;">
      <h3 class="modal-title">Đăng ký</h3>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Họ tên" formControlName="name" required
        pattern="^[a-zA-Z ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ]*">
      <div class="validation-error" *ngIf="SignUpForm.get('name').invalid && SignUpForm.get('name').touched">
        <div *ngIf="SignUpForm.get('name').errors['required']"> Vui lòng nhập họ tên</div>
        <div *ngIf="SignUpForm.get('name').errors['pattern']"> Họ tên không hợp lệ </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-7">
        <input type="text" class="form-control" placeholder="Email" formControlName="email" required
          pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z-]+\.[a-zA-Z-.]+$">
        <div class="validation-error" *ngIf="SignUpForm.get('email').invalid && SignUpForm.get('email').touched">
          <div *ngIf="SignUpForm.get('email').errors['required']"> Vui lòng nhập Email </div>
          <div *ngIf="SignUpForm.get('email').errors['pattern']"> Email không hợp lệ </div>
        </div>
      </div>
      <div class="form-group col-5 ">
        <input type="text" class="form-control" placeholder="Số điện thoại" formControlName="phone"
          pattern="[0]{1}[0-9]{9}" required>
        <div class="validation-error" *ngIf="SignUpForm.get('phone').invalid && SignUpForm.get('phone').touched">
          <div *ngIf="SignUpForm.get('phone').errors['required']"> Vui lòng nhập Số điện thoại</div>
          <div *ngIf="SignUpForm.get('phone').errors['pattern']"> Số điện thoại không hợp lệ </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Địa chỉ" formControlName="address" required>
      <div class="validation-error" *ngIf="SignUpForm.get('address').invalid && SignUpForm.get('address').touched">
        <div *ngIf="SignUpForm.get('address').errors['required']"> Vui lòng nhập địa chỉ</div>
        <div *ngIf="SignUpForm.get('address').errors['pattern']"> Địa chỉ không hợp lệ </div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Mật khẩu" formControlName="password"
        #password pattern="(?=.*\d)(?=.*[a-zA-Z]).{6,}" required>
      <div class="validation-error" *ngIf="SignUpForm.get('password').invalid && SignUpForm.get('password').touched">
        <div *ngIf="SignUpForm.get('password').errors['required']"> Vui lòng nhập mật khẩu </div>
        <div *ngIf="SignUpForm.get('password').errors['pattern']"> Mật khẩu không hợp lệ </div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Xác nhận mật khẩu" formControlName="confirmpassword"
        required compare="password">
      <div class="validation-error"
        *ngIf="SignUpForm.get('confirmpassword').invalid && SignUpForm.get('confirmpassword').touched">
        <div *ngIf="SignUpForm.get('confirmpassword').errors['required']"> Vui lòng xác nhận mật khẩu</div>
        <div *ngIf="SignUpForm.get('confirmpassword').errors['compare']"> Mật khẩu xác nhận không trùng với mật khẩu </div>
      </div>
    </div>
    <div class="form-row text-center">
      <div class="form-group col-6">
        <div class="radio">
          <p><input type="radio" name="role" (click)="change(false)" checked="true">Học viên</p>
        </div>
      </div>
      <div class="form-group col-6">
        <div class="radio">
          <p><input type="radio" name="role" (click)="change(true)">Giảng viên</p>
        </div>
      </div>
    </div>
    <div class="form-group" [hidden]="!ismentor">
      <h5><b>Xin chọn chuyên môn</b></h5>
      <select type="input" placeholder="Chuyên môn" class="form-control" formControlName="idskill">
        <option *ngFor="let skill of mentorService.skillList" [value]="skill.idskill">{{skill.skillname}}</option>
      </select>
    </div>
    <div class="form-group">
      <div class="form-group ">
        <button type="submit" [disabled]="!SignUpForm.valid" style="height: 50px"
          class="btn btn-lg btn-success btn-block" keyup.enter="onSubmit(form)">Đăng ký</button>
      </div>
    </div>
    <div class="form-group col-6 text-center">
      <a routerLink="/sign-in">Đăng nhập</a>
    </div>
  </form>
  <br>
</div>
