<div class="container-12">
    <a class="close">
        <button type="submit" class="btn btn-dark" (click)="onClose()">X</button>
    </a>
    <form [formGroup]="formfroupEdit" (ngSubmit)="onSubmit(formfroupEdit.value)">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Cập nhật khóa học đã nhận</h3>
          </div>
          <div class="form-group">
            <input type="hidden" class="form-control" placeholder="mentorid" formControlName="mentorid">
          </div>
          <div class="form-group">
            <input type="hidden" class="form-control" placeholder="courseid" formControlName="courseid">
         </div>
         <form [formGroup]="formfroupName">
            <div class="form-group">
                <label for="">Giảng viên: </label>
                <input type="text" class="form-control" placeholder="mentor" formControlName="mentor" readonly >
            </div>
            <div class="form-group">
                <label for="">Tên khóa học: </label>
                <input type="text" class="form-control" placeholder="course" formControlName="course" readonly >
            </div>
         </form>

          <div class="form-group">
              <label for="">Ngày bắt đầu: </label>
              <input type="text" class="form-control" placeholder="startday" formControlName="startday" required>
              <div class="validation-error" *ngIf="formfroupEdit.get('startday').invalid && formfroupEdit.get('startday').touched">
                <div *ngIf="formfroupEdit.get('startday').errors['required']">Xin nhập ngày</div>
              </div>
          </div>
          <div class="form-group">
              <label for="">Ngày kết thúc: </label>
              <input type="text" class="form-control" placeholder="endday" formControlName="endday" required>
              <div class="validation-error" *ngIf="formfroupEdit.get('endday').invalid && formfroupEdit.get('endday').touched">
                <div *ngIf="formfroupEdit.get('endday').errors['required']">Xin nhập ngày</div>
              </div>
          </div>

          <div class="form-group">
              <label for="">Địa chỉ: </label>
              <input type="text" class="form-control" placeholder="address" formControlName="address" required>
              <div class="validation-error" *ngIf="formfroupEdit.get('address').invalid && formfroupEdit.get('address').touched">
                <div *ngIf="formfroupEdit.get('address').errors['required']">Xin nhập địa chỉ</div>
              </div>
          </div>
          <div class="form-group">
              <label for="">Ghi chú: </label>
                <input type="text" class="form-control" placeholder="notes" formControlName="notes" required>
                <div class="validation-error" *ngIf="formfroupEdit.get('notes').invalid && formfroupEdit.get('notes').touched">
                  <div *ngIf="formfroupEdit.get('notes').errors['required']">Xin nhập ghi chú</div>
                </div>
            </div>
          <!--<div class="form-group">
              <label for="">Time: </label>
            <input type="text" class="form-control" placeholder="time" formControlName="time" required>
            <div class="validation-error" *ngIf="formfroupEdit.get('time').invalid && formfroupEdit.get('time').touched">
              <div *ngIf="formfroupEdit.get('time').errors['required']">time is required</div>
            </div>
        </div>-->
        <button type="submit" class="btn btn-lg btn-success btn-block" [disabled]="formfroupEdit.invalid">Cập nhật</button>

    </form>
</div>
