<div class="container-fluid">
  <h1>Danh sách khóa học</h1>
  <div class="row">
    <div class="col-md-4 course-item" *ngFor="let item of courseService.courseListById
          | grdFilter: { title: searchText}
          | paginate: { itemsPerPage: 6, currentPage: p }" value="item.courseid">
      <div class="blog-box">
        <!-- <a [routerLink]="['/courses/view/',item.courseid]"> <img src="assets/img/img1.jpg" alt="blog1" class="img-course" /></a> -->
        <a routerLink="/details/{{item.courseid}}"> <img src="assets/Images/{{item.image_course}}"
          style="width: auto;height: 210px; "></a>
        <h3>{{item.title}}</h3>
        <p>Khóa học: {{item.description}} <br> Thời lượng khóa học dự kiến : {{item.time}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <pagination-controls (pageChange)="p = $event" style="margin: auto"></pagination-controls>
  </div>
</div>
